---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: sysstat
  namespace: kube-system
spec:
  selector:
    matchLabels:
      name: sysstat-collection
  template:
    metadata:
      labels:
        name: sysstat-collection
    spec:
      tolerations:
      - key: node-role.kubernetes.io/master
        effect: NoSchedule
      containers:
      - name: sysstat-iostat
        image: quay.io/mpillai/sysstat
        securityContext:
          privileged: true
        volumeMounts:
        - name: data-volume
          mountPath: /data
        command: ["/bin/sh"]
        args: ["-c", "iostat -tkdxN {{ collect_sysstat_interval_sec }} > /data/iostat.out.txt"]
      - name: sysstat-top-thr
        image: quay.io/mpillai/sysstat
        securityContext:
          privileged: true
        volumeMounts:
        - name: data-volume
          mountPath: /data
        command: ["/bin/sh"]
        args: ["-c", "top -bH -d {{ collect_sysstat_topintrvl_sec }} | grep -A {{ collect_sysstat_topthrds }} 'load average' > /data/top_thr.out.txt"]
      - name: sysstat-top-proc
        image: quay.io/mpillai/sysstat
        securityContext:
          privileged: true
        volumeMounts:
        - name: data-volume
          mountPath: /data
        command: ["/bin/sh"]
        args: ["-c", "top -b -d {{ collect_sysstat_topintrvl_sec }} | grep -A {{ collect_sysstat_topprocs }} 'load average' > /data/top_proc.out.txt"]
      - name: sysstat-sar
        image: quay.io/mpillai/sysstat
        securityContext:
          privileged: true
        volumeMounts:
        - name: data-volume
          mountPath: /data
        command: ["/bin/sh"]
        args: ["-c", "sar -n DEV -BdpqruW {{ collect_sysstat_interval_sec }} > /data/sar.out.txt"]
      volumes:
      - name: data-volume
        emptyDir: {}
      hostNetwork: true
      hostPID: true
...
