---
apiVersion: batch/v1
kind: Job
metadata:
  name: fio
spec:
  template:
    metadata:
      labels:
        type: benchmark-prep-pod
    spec:
{% if bench_fiorand_nodelabel is defined %}
      nodeSelector:
        {{ bench_fiorand_nodelabel.split("=")[0] }}: {{ bench_fiorand_nodelabel.split("=")[1] }}
{% endif %}

      volumes:
      - name: output-volume
        emptyDir: {}
      - name: fio-pv
        persistentVolumeClaim:
          claimName: fio-pv-claim

      containers:
      - name: benchmark-complete
        image: rhel7
        volumeMounts:
          - mountPath: {{ bench_fiorand_podoutdir }}
            name: output-volume
          - mountPath: /dataset
            name: fio-pv
        command: ["/bin/sh"]
        args: ["-c", "touch {{ bench_fiorand_podoutdir }}/benchmark.init.completed.txt; sleep 3600"]

      initContainers:
      - name: fio-initwrite
        image: quay.io/mpillai/fio
        volumeMounts:
          - mountPath: {{ bench_fiorand_podoutdir }}
            name: output-volume
          - mountPath: /dataset
            name: fio-pv
        command: ["/bin/sh"]
        args:
          - "-c" 
          - > 
            fio --name=initwrite --rw=write 
            --ioengine=sync --direct=0 
            --create_on_open=1 --end_fsync=1 
            --directory=/dataset 
            --filename_format='f.$jobnum.$filenum'
            --bs={{ bench_fiorand_sbs_kb }}k 
            --filesize={{ bench_fiorand_fsz_gb }}g 
            --numjobs={{ bench_fiorand_njobs }} 
            --output={{ bench_fiorand_podoutdir }}/fio.initwrite.out.txt 
            ; chmod -R a+rw /dataset
            ; ls -l /dataset > {{ bench_fiorand_podoutdir }}/fio.initwrite.ls_l.txt

      restartPolicy: Never
...
