---
apiVersion: batch/v1
kind: Job
metadata:
  name: fio
spec:
  template:
    metadata:
      labels:
        type: benchmark-prep-pod
    spec:
{% if bench_fiorand_nodelabel is defined %}
      nodeSelector:
        {{ bench_fiorand_nodelabel.split("=")[0] }}: {{ bench_fiorand_nodelabel.split("=")[1] }}
{% endif %}

      volumes:
      - name: output-volume
        emptyDir: {}

      containers:
      - name: benchmark-complete
        image: rhel7
        volumeMounts:
          - mountPath: {{ bench_fiorand_podoutdir }}
            name: output-volume
        command: ["/bin/sh"]
        args: ["-c", "touch {{ bench_fiorand_podoutdir }}/benchmark.init.completed.txt; sleep 3600"]

      initContainers:

      - name: fio-genhosts
        image: quay.io/mpillai/fio
        volumeMounts:
          - mountPath: {{ bench_fiorand_podoutdir }}
            name: output-volume
        command: ["/bin/sh"]
        args:
          - "-c"
          - >
            touch {{ bench_fiorand_podoutdir }}/hostlist
{% for ii in range(bench_fiorand_ninstances) %}
            ; echo {{ bench_fiorand_serverlist[ii] }} >> {{ bench_fiorand_podoutdir }}/hostlist
{% endfor %}

      - name: fio-genjob
        image: quay.io/mpillai/fio
        volumeMounts:
          - mountPath: {{ bench_fiorand_podoutdir }}
            name: output-volume
        command: ["/bin/sh"]
        args:
          - "-c"
          - >
            echo [initwrite] > {{ bench_fiorand_podoutdir }}/jobfile.fioinit
            ; echo rw=write >> {{ bench_fiorand_podoutdir }}/jobfile.fioinit
            ; echo ioengine=sync >> {{ bench_fiorand_podoutdir }}/jobfile.fioinit
            ; echo direct=0 >> {{ bench_fiorand_podoutdir }}/jobfile.fioinit
            ; echo create_on_open=1 >> {{ bench_fiorand_podoutdir }}/jobfile.fioinit
            ; echo end_fsync=1 >> {{ bench_fiorand_podoutdir }}/jobfile.fioinit
            ; echo directory={{ bench_fiorand_datadir }} >> {{ bench_fiorand_podoutdir }}/jobfile.fioinit
            ; echo filename_format='f.$jobnum.$filenum' >> {{ bench_fiorand_podoutdir }}/jobfile.fioinit
            ; echo bs={{ bench_fiorand_sbs_kb }}k >> {{ bench_fiorand_podoutdir }}/jobfile.fioinit
            ; echo filesize={{ bench_fiorand_fsz_gb }}g >> {{ bench_fiorand_podoutdir }}/jobfile.fioinit
            ; echo numjobs={{ bench_fiorand_njobs }} >> {{ bench_fiorand_podoutdir }}/jobfile.fioinit

      - name: fio-initwrite
        image: quay.io/mpillai/fio
        volumeMounts:
          - mountPath: {{ bench_fiorand_podoutdir }}
            name: output-volume
        command: ["/bin/sh"]
        args:
          - "-c" 
          - > 
            fio 
            --output={{ bench_fiorand_podoutdir }}/fio.initwrite.run.txt
            --client={{ bench_fiorand_podoutdir }}/hostlist
            {{ bench_fiorand_podoutdir }}/jobfile.fioinit

      restartPolicy: Never
...
