---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: fio-pv-claim
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ bench_fiorand_pvcsize_gb }}Gi
{% if bench_fiorand_storageclass is defined %}
  storageClassName: {{ bench_fiorand_storageclass }}
{% endif %}

...
