---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: fio-pv-claim
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ bench_fioforsql_pvcsize_gb }}Gi
{% if bench_fioforsql_storageclass is defined %}
  storageClassName: {{ bench_fioforsql_storageclass }}
{% endif %}
...
