---
apiVersion: batch/v1
kind: Job
metadata:
  name: ycsb
spec:
  template:
    metadata:
      labels:
        type: benchmark-pod
    spec:
      volumes:
      - name: output-volume
        emptyDir: {}
      - name: config-volume
        configMap:
          name: {{ bench_ycsb_configmap }}

      containers:
      - name: benchmark-complete
        image: rhel7
        volumeMounts:
          - mountPath: /benchout
            name: output-volume
        command: ["/bin/sh"]
        args: ["-c", "touch /benchout/benchmark.completed.txt; sleep 3600"]

      initContainers:
      - name: ycsb-load
        image: quay.io/mpillai/ycsb
        volumeMounts:
          - mountPath: /benchout
            name: output-volume
        command: ["/bin/sh"]
        args: 
          - "-c"
          - >
            cd /ycsb/ycsb-latest 
            ; bin/ycsb load {{ bench_ycsb_nosqldb }} -s 
            -P {{ bench_ycsb_workload }}
            -p {{ bench_ycsb_db_loadopts }}
            -p recordcount={{ bench_ycsb_reccount }}
            -threads {{ bench_ycsb_load_thrds }} 
            2>&1 | tee /benchout/ycsb.load.txt

      - name: prepwait
        image: rhel7
        volumeMounts:
          - mountPath: /runstatus
            name: config-volume
        command: ["/bin/sh", "-c", "while [ `cat /runstatus/{{ bench_ycsb_mapkey }}` = {{ bench_ycsb_initphase }} ]; do sleep 30; done"]

      - name: ycsb-run
        image: quay.io/mpillai/ycsb
        volumeMounts:
          - mountPath: /benchout
            name: output-volume
        command: ["/bin/sh"]
        args: 
          - "-c"
          - >
            cd /ycsb/ycsb-latest 
            ; bin/ycsb run {{ bench_ycsb_nosqldb }} -s 
            -P {{ bench_ycsb_workload }}
            -p {{ bench_ycsb_db_runopts }}
            -p recordcount={{ bench_ycsb_reccount }}
            -p operationcount={{ bench_ycsb_opcount }}
            -threads {{ bench_ycsb_run_thrds }}
            2>&1 | tee /benchout/ycsb.run.txt

      restartPolicy: Never
...
