---
apiVersion: batch/v1
kind: Job
metadata:
  name: ycsb
spec:
  template:
    metadata:
      labels:
        type: benchmark-pod
    spec:
{% if bench_ycsb_nodelabel is defined %}
      nodeSelector:
        {{ bench_ycsb_nodelabel.split("=")[0] }}: {{ bench_ycsb_nodelabel.split("=")[1] }}
{% endif %}

      volumes:
      - name: output-volume
        emptyDir: {}

      containers:
      - name: benchmark-complete
        image: rhel7
        volumeMounts:
          - mountPath: {{ bench_ycsb_podoutdir }}
            name: output-volume
        command: ["/bin/sh"]
        args: ["-c", "touch {{ bench_ycsb_podoutdir }}/benchmark.completed.txt; sleep 3600"]

      initContainers:
      - name: ycsb-run
        image: quay.io/mpillai/ycsb
        volumeMounts:
          - mountPath: {{ bench_ycsb_podoutdir }}
            name: output-volume
        command: ["/bin/sh"]
        args: 
          - "-c"
          - >
            cd /ycsb/ycsb-latest 
            ; bin/ycsb run {{ bench_ycsb_nosqldb }} -s 
            -P {{ bench_ycsb_workload }}
            -p {{ bench_ycsb_db_runopts }}
            -p recordcount={{ bench_ycsb_reccount }}
            -p operationcount={{ bench_ycsb_opcount }}
            -threads {{ bench_ycsb_run_thrds }}
{% if bench_ycsb_run_addlopts is defined %}
            {{ bench_ycsb_run_addlopts }}
{% endif %}
            2>&1 | tee {{ bench_ycsb_podoutdir }}/ycsb.run.txt

      restartPolicy: Never
...
