---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: os-rootpod
spec:
  selector:
    matchLabels:
      name: os-rootpod
  template:
    metadata:
      labels:
        name: os-rootpod
    spec:
{% if os_rootpods_nodelabel is defined %}
      nodeSelector:
        {{ os_rootpods_nodelabel.split("=")[0] }}: {{ os_rootpods_nodelabel.split("=")[1] }}
{% endif %}
      tolerations:
      - key: node-role.kubernetes.io/master
        effect: NoSchedule

      containers:
      - name: os-rootpod-completed
        image: rhel7
        securityContext:
          privileged: true
          runAsUser: 0
        command: ["/bin/sh"]
        args: ["-c", "sleep 3600"]

      initContainers:
      - name: os-rootpod-command
        image: rhel7
        securityContext:
          privileged: true
          runAsUser: 0
        command: ["/bin/sh"]
        args: ["-c", "{{ os_rootpods_command }}"]

      hostNetwork: true
      hostPID: true
...
