---
apiVersion: v1
kind: Service
metadata:
  name: {{ name }}
  labels:
    name: {{ name }}
spec:
  ports:
  - port: {{ port }}
    targetPort: {{ port }}
  clusterIP: None
  selector:
    name: {{ name }}
...
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ name }}
spec:
  selector:
    matchLabels:
      name: {{ name }}
  serviceName: {{ name }}
  replicas: {{ nservers }}
  template:
    metadata:
      labels:
        name: {{ name }}
    spec:
{% if nodelabel is defined %}
      nodeSelector:
        {{ nodelabel.split("=")[0] }}: {{ nodelabel.split("=")[1] }}
{% endif %}
      containers:
      - name: fioserver
        image: quay.io/mpillai/fio
        volumeMounts:
          - mountPath: {{ datadir }}
            name: server-fio-pvc
        ports:
          - containerPort: {{ port }}
        command: ["/bin/sh"]
        args:
          - "-c" 
          - > 
            fio --server

  volumeClaimTemplates:
  - metadata:
      name: server-fio-pvc
    spec:
      accessModes: [ "ReadWriteOnce" ]
      resources:
        requests:
          storage: {{ pvcsize_gb }}Gi
{% if storageclass is defined %}
      storageClassName: {{ storageclass }}
{% endif %}

...
