---
apiVersion: batch/v1
kind: Job
metadata:
  name: fio
spec:
  template:
    metadata:
      labels:
        type: benchmark-prep-pod
    spec:
{% if bench_fioforsql_nodelabel is defined %}
      nodeSelector:
        {{ bench_fioforsql_nodelabel.split("=")[0] }}: {{ bench_fioforsql_nodelabel.split("=")[1] }}
{% endif %}

      volumes:
      - name: output-volume
        emptyDir: {}
      - name: fio-pv
        persistentVolumeClaim:
          claimName: fio-pv-claim

      containers:
      - name: benchmark-complete
        image: rhel7
        volumeMounts:
          - mountPath: {{ bench_fioforsql_podoutdir }}
            name: output-volume
          - mountPath: /dataset
            name: fio-pv
        command: ["/bin/sh"]
        args: ["-c", "touch {{ bench_fioforsql_podoutdir }}/benchmark.init.completed.txt; sleep 3600"]

      initContainers:
      - name: fio-initwrite
        image: quay.io/mpillai/fio
        volumeMounts:
          - mountPath: {{ bench_fioforsql_podoutdir }}
            name: output-volume
          - mountPath: /dataset
            name: fio-pv
        command: ["/bin/sh"]
        args:
          - "-c" 
          - > 
            fio 
            --name=log_prepare 
            --rw=write --ioengine=sync --direct=0 
            --create_on_open=1 --end_fsync=1 
            --bs={{ bench_fioforsql_sbs_kb }}k 
            --filename=/dataset/{{ bench_fioforsql_txnlogfile }}
            --filesize={{ bench_fioforsql_logfsz_gb }}g 
            --numjobs=1
            --name=table_prepare 
            --rw=write --ioengine=sync --direct=0 
            --create_on_open=1 --end_fsync=1 
            --bs={{ bench_fioforsql_sbs_kb }}k 
            --directory=/dataset
            --filename_format='table.$jobnum'
            --filesize={{ bench_fioforsql_tblfsz_mb }}m 
            --numjobs={{ bench_fioforsql_nthrds }} 
            --output={{ bench_fioforsql_podoutdir }}/fio.initwrite.out.txt 
            ; chmod -R a+rw /dataset
            ; ls -l /dataset > {{ bench_fioforsql_podoutdir }}/fio.initwrite.ls_l.txt

      restartPolicy: Never
...
