---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: {{ name }}
spec:
  selector:
    matchLabels:
      {{ podlabel.split("=")[0] }}: {{ podlabel.split("=")[1] }}
  template:
    metadata:
      labels:
        {{ podlabel.split("=")[0] }}: {{ podlabel.split("=")[1] }}
    spec:
{% if nodeselector is defined %}
      nodeSelector:
        {{ nodeselector.split("=")[0] }}: {{ nodeselector.split("=")[1] }}
{% endif %}
      tolerations:
      - key: node-role.kubernetes.io/master
        effect: NoSchedule

      containers:
      - name: sysstat-iostat
        image: quay.io/mpillai/sysstat
        securityContext:
          privileged: true
        volumeMounts:
        - name: data-volume
          mountPath: {{ podoutdir }}
        command: ["/bin/sh"]
        args: ["-c", "iostat -tkdxN {{ interval_sec }} > {{ podoutdir }}/iostat.out.txt"]

      - name: sysstat-top-thr
        image: quay.io/mpillai/sysstat
        securityContext:
          privileged: true
        volumeMounts:
        - name: data-volume
          mountPath: {{ podoutdir }}
        command: ["/bin/sh"]
{% if limittop %}
        args: ["-c", "top -bH -d {{ topintrvl_sec }} | grep -A {{ topthrds }} 'load average' > {{ podoutdir }}/top_thr.out.txt"]
{% else %}
        args: ["-c", "top -bH -d {{ topintrvl_sec }} > {{ podoutdir }}/top_thr.out.txt"]
{% endif %}

      - name: sysstat-top-proc
        image: quay.io/mpillai/sysstat
        securityContext:
          privileged: true
        volumeMounts:
        - name: data-volume
          mountPath: {{ podoutdir }}
        command: ["/bin/sh"]
{% if limittop %}
        args: ["-c", "top -b -d {{ topintrvl_sec }} | grep -A {{ topprocs }} 'load average' > {{ podoutdir }}/top_proc.out.txt"]
{% else %}
        args: ["-c", "top -b -d {{ topintrvl_sec }} > {{ podoutdir }}/top_proc.out.txt"]
{% endif %}

      - name: sysstat-sar
        image: quay.io/mpillai/sysstat
        securityContext:
          privileged: true
        volumeMounts:
        - name: data-volume
          mountPath: {{ podoutdir }}
        command: ["/bin/sh"]
        args: ["-c", "sar -n DEV -BdpqruW {{ interval_sec }} > {{ podoutdir }}/sar.out.txt"]

      volumes:
      - name: data-volume
        emptyDir: {}
      hostNetwork: true
      hostPID: true
...
